.botonrojo {
   border-top: 1px solid #cf6363;
   background: #a66666;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c3e46), to(#a66666));
   background: -webkit-linear-gradient(top, #9c3e46, #a66666);
   background: -moz-linear-gradient(top, #9c3e46, #a66666);
   background: -ms-linear-gradient(top, #9c3e46, #a66666);
   background: -o-linear-gradient(top, #9c3e46, #a66666);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.botonrojo:hover {
   border-top-color: #612828;
   background: #612828;
   color: #cccccc;
   }
.botonrojo:active {
   border-top-color: #5c1b1b;
   background: #5c1b1b;
   }
.botonazul {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.botonazul:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.botonazul:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

   
   
.botonverde {
   border-top: 1px solid #97d164;
   background: #65a964;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9c63), to(#65a964));
   background: -webkit-linear-gradient(top, #3e9c63, #65a964);
   background: -moz-linear-gradient(top, #3e9c63, #65a964);
   background: -ms-linear-gradient(top, #3e9c63, #65a964);
   background: -o-linear-gradient(top, #3e9c63, #65a964);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.botonverde:hover {
   border-top-color: #285964;
   background: #285964;
   color: #cccccc;
   }
.botonverde:active {
   border-top-color: #1b5c1b;
   background: #1b5c1b;
   }
.botonamarillo {
   border-top: 1px solid #c2cf63;
   background: #a0a865;
   background: -webkit-gradient(linear, left top, left bottom, from(#919c3e), to(#a0a865));
   background: -webkit-linear-gradient(top, #919c3e, #a0a865);
   background: -moz-linear-gradient(top, #919c3e, #a0a865);
   background: -ms-linear-gradient(top, #919c3e, #a0a865);
   background: -o-linear-gradient(top, #919c3e, #a0a865);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.botonamarillo:hover {
   border-top-color: #5c6328;
   background: #5c6328;
   color: #cccccc;
   }
.botonamarillo:active {
   border-top-color: #5c531b;
   background: #5c531b;
   }
   
.deshabilitado {
   border-top: 1px solid #5c5c5c;
   background: #737475;
   background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#737475));
   background: -webkit-linear-gradient(top, #666666, #737475);
   background: -moz-linear-gradient(top, #666666, #737475);
   background: -ms-linear-gradient(top, #666666, #737475);
   background: -o-linear-gradient(top, #666666, #737475);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.deshabilitado:hover {
   border-top-color: #6b6b6b;
   background: #6b6b6b;
   color: #ccc;
   }
.deshabilitado:active {
   border-top-color: #707070;
   background: #707070;
   }
