thead.estilo {
        padding: 3px 18px 3px 10px;
        border-bottom: 1px solid black;
        font-weight: bold;
        cursor: pointer;
}


thead.estilo {
        padding: 3px 18px 3px 10px;
        border-bottom: 1px solid black;
        font-weight: bold;
        cursor: pointer;
}
th.estilo {
        padding: 3px 18px 3px 10px;
        border-bottom: 1px solid black;
        font-weight: bold;
        cursor: pointer;
        text-align : center;
}

tr.estilo {
        border-bottom: 1px solid #aaa;
}

td.estilo {
        padding: 3px 10px;
        text-align: center;
        background-color: #ddffdd;
}

p.estilo
{
        text-align:center;
        font: 150% sans-serif;

}
p.estiloTitulo
{
        text-align:center;
        font: 200% sans-serif;

}




